 
html,body{
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}
 
body{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211 232 232);
}
.container{
    box-shadow: 10px 10px  15px 5px #afa5d9;
    box-shadow: -10px -10px  -15px -5px #ffffff;
    text-align: center;
    height: 75%;
    width: 23%;
   
    /* border: 2px solid black; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:skyblue;
    transition: 1s;
}
.container:hover{
    transform: scale(1.3);
    cursor: pointer;
}
#icon{
    /* border: 2px solid black; */
    padding: 28px 4px;
    margin-top: 0px;
}
 #icon h1 i{
   font-size: 50px;
 }
.info{
    height: 287px; 
    width: 216px;
    margin-top: -31px;
}
.weathercondition{
    margin-top: -18px;
}
.fa-location-dot{
    animation:  rotate 3s linear infinite alternate;
   
}
 @keyframes rotate {
    from{
        transform: translateX(-0.5rem);
    }
    to{
        transform: translateX(0.5rem);
    }
 }

 #icon h1 i{
    animation: size-change 3s linear infinite alternate ;
 }
 /* .fa-sun,.fa-cloud,.fa-cloud-rain,.fa-smog{
    animation: size-change 3s linear infinite alternate ;
 } */
 @keyframes size-change {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.5);
    }
 }
 